.pagina-total {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.container {
  background-color: grey;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
}
