.Catalogo {
  color: white;
  text-align: center;
  padding: 15px;
}

.Molduras {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 200px;
}

.Cat {
  color: rgb(255, 255, 255);
  opacity: 80%;
}
